/*
* 快速复用混入button尺寸及风格 服务于Button组件
*/
@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
    padding: $padding-y $padding-x;
    font-size: $font-size;
    border-radius: $border-radius;
}
@mixin button-style (
    $background,
    $border,
    $color,
    //with default
    $hover-background: lighten($background, 7.5%),
    $hover-border: lighten($border, 12%),
    $hover-color: lighten($color, 10%)

) {
    background: $background;
    color: $color;
    border-color: $border;
    &:hover {
        background-color: $hover-background;
        color: $hover-color;
        border-color: $hover-border;
    }
    &.focus,
    &[focus] {
        background-color: $hover-background;
        color: $hover-color;
        border-color: $hover-border;
    }
    &.disavled,
    &[disabled] {
        background: $background;
        color: $color;
        border-color: $border;
    }
}
/*
* 可重用的animation效果 服务于Tranisiton组件
*/
@mixin zoom-animation(
  $direction: 'top',
  $scaleStart: scaleY(0),
  $scaleEnd: scaleY(1),
  $origin: center top,
) {
  .zoom-in-#{$direction}-enter {
    opacity: 0;
    transform: $scaleStart;
  }
  .zoom-in-#{$direction}-enter-active {
    opacity: 1;
    transform: $scaleEnd;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: $origin
  }
  .zoom-in-#{$direction}-exit {
    opacity: 1;
  }
  .zoom-in-#{$direction}-exit-active {
    opacity: 0;
    transform: $scaleStart;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: $origin;
  }
}

